@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');
:root{
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255,255,255,0.9);
}
/************************Advertisement Push Page****************************/
.sectionAdd{
    padding: 20vmin 0;
  }
  
  .sectionAdd .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
  }
  
  .sectionAdd .row .col-md-6:last-child{
    position: relative;
  }
  
  .sectionAdd .row .col-md-6 .panel{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
  }
  
  .sectionAdd .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
  }
  
  .sectionAdd .row .col-md-6 .panel p{
    font-size: 1em;
    color: rgba(0,0,0,0.5);
  }
  
  .purchase > h1{
    padding-top: 15vmin;
    padding-bottom: 1.5em;
    font-family: var(--Lobster);
}

.purchase > p{
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}

.cards div{
    margin: 0;
    padding: 0;
}

.cards .title{
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing{
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing > h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}

.section-3{
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1{
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p{
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop{
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3{
  font-size: 4vmin;
}

.section-3 .desktop p{
  font-size: 2vmin;
}

/* Section Five Style */

.section-5{
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  /* box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1); */
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.section-5 .contact-us{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.contact-form .form-field{
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text{
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
  transform: translateY(-24px);
}

.contact-form .input-text:focus{
  outline: none;
}

.contact-form .label{
  position: absolute;
  left: 20px;
  bottom: 31px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn{
  display: inline-block;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/* Section Five Styles */

@media(min-width:320px){
  .sectionAdd .row .col-md-6 .panel{
    position: initial;
    width: initial;
    height: initial;  
  }
  .section-2 .cover{
    background-position: -25vmin -10vmin;
  }
  .section-3{
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1{
    padding: 6vmin 4vmin;
  }
  .section-3 .row .col-md-6{
    text-align: center !important;
  }
  .section-3 .desktop i{
    font-size: 8vmin;
  }
}
  /***************************************************************************/