*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sectionHome{
    background: aliceblue;
}
.big{
    text-align: center;
}
.cardText {
    font-size: 4.5vmin;
    color:  #083eb9;
    letter-spacing: 2px;
}
.rowOne{
    padding-bottom: 50px;
    padding-top: 30px;
}