.section-2 .container h1{
    font-size: 6vmin;
    padding-top: 12vmin;
}

.section-2 .team{
    padding: 6vmin 4vmin;
    margin-left: 0;
}

.section-2 .card{
    width: 22rem;
    margin-top: 10vmin;
    height: 40rem;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.section-2 .card .card-text{
    padding: 0.5em;
}

.section-2 .card .card-body > a{
    font-size: 1.5em;
}
  

  @media(min-width:320px){
    .section-2{
        display: initial;
    }
  }
  @media(min-width:480px){
    
  }
  @media(min-width:600px){
    .section-2{
        display: block;
    }
  }
  @media(min-width:801px){
    
  }
  @media(min-width:1025px){
    
}